<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a class="navbar-icon" href="javascript:;"><span class="icon icon-favorite"></span></a></li>
    <li class="dropdown active">
      <a href="javascript:;" class="dropdown-toggle" datda-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 1</a>
      <ul class="dropdown-menu open">
        <li class="active"><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li class="dropdown-submenu">
          <a href="javascript:;">Menu item four</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Second level item one</a></li>
            <li><a href="javascript:;">Second level item two</a></li>
            <li><a href="javascript:;">Second level item three</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 2</a>
      <ul class="dropdown-menu open">
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li class="dropdown-submenu">
          <a href="javascript:;">Menu item four</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Second level item one</a></li>
            <li><a href="javascript:;">Second level item two</a></li>
            <li><a href="javascript:;">Second level item three</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 3</a>
      <ul class="dropdown-menu open">
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li class="dropdown-submenu">
          <a href="javascript:;">Menu item four</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Second level item one</a></li>
            <li><a href="javascript:;">Second level item two</a></li>
            <li><a href="javascript:;">Second level item three</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-tfoggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 4</a>
      <ul class="dropdown-menu open">
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li class="dropdown-submenu">
          <a href="javascript:;">Menu item four</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Second level item one</a></li>
            <li><a href="javascript:;">Second level item two</a></li>
            <li><a href="javascript:;">Second level item three</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>