
@font-face {
  font-family: 'TMicon';
  src:  url('fonts/TMicon.eot?c1wpf5');
  src:  url('fonts/TMicon.eot?c1wpf5#iefix') format('embedded-opentype'),
    url('fonts/TMicon.woff2?c1wpf5') format('woff2'),
    url('fonts/TMicon.ttf?c1wpf5') format('truetype'),
    url('fonts/TMicon.woff?c1wpf5') format('woff'),
    url('fonts/TMicon.svg?c1wpf5#TMicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#{$icon} {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TMicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#{$icon} {
  color: #666;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

#{$icon}-moon:before {
  content: "\e0c7";
}
#{$icon}-save:before {
  content: "\e060";
}
#{$icon}-save-o:before {
  content: "\e061";
}
#{$icon}-color:before {
  content: "\e0c3";
}
#{$icon}-droplet:before {
  content: "\e0c4";
}
#{$icon}-light:before {
  content: "\e0c5";
}
#{$icon}-light-o:before {
  content: "\e0c6";
}
#{$icon}-sun:before {
  content: "\e0c8";
}
#{$icon}-sun-o:before {
  content: "\e0c9";
}
#{$icon}-box-upload:before {
  content: "\e0c2";
}
#{$icon}-gavel:before {
  content: "\e0be";
}
#{$icon}-inbox-upload:before {
  content: "\e0c1";
}
#{$icon}-info-s:before {
  content: "\e0c0";
}
#{$icon}-terminal:before {
  content: "\e0bf";
}
#{$icon}-time-off:before {
  content: "\ee0bd";
}
#{$icon}-fullscreen:before {
  content: "\e099";
}
#{$icon}-fullscreen-exit:before {
  content: "\e0bb";
}
#{$icon}-lifebuoy:before {
  content: "\e0bc";
}
#{$icon}-pause:before {
  content: "\e0a0";
}
#{$icon}-play:before {
  content: "\e0a3";
}
#{$icon}-stop:before {
  content: "\e0ab";
}
#{$icon}-city:before {
  content: "\e08d";
}
#{$icon}-refresh:before {
  content: "\e05e";
}
#{$icon}-view-off:before {
  content: "\e083";
}
#{$icon}-inbox:before {
  content: "\e09a";
}
#{$icon}-install:before {
  content: "\e09b";
}
#{$icon}-investigation:before {
  content: "\e09c";
}
#{$icon}-magic:before {
  content: "\e09d";
}
#{$icon}-minus-circle-o:before {
  content: "\e0ba";
}
#{$icon}-note-o:before {
  content: "\e09f";
}
#{$icon}-picture:before {
  content: "\e0a1";
}
#{$icon}-pin-star:before {
  content: "\e0a2";
}
#{$icon}-reorder:before {
  content: "\e0a4";
}
#{$icon}-root-cause:before {
  content: "\e0a8";
}
#{$icon}-thumbtack:before {
  content: "\e0ac";
}
#{$icon}-user-change:before {
  content: "\e0ad";
}
#{$icon}-widgets:before {
  content: "\e0b4";
}
#{$icon}-wifi:before {
  content: "\e0b6";
}
#{$icon}-zoom-in:before {
  content: "\e0b0";
}
#{$icon}-zoom-out:before {
  content: "\e0b1";
}
#{$icon}-database:before {
  content: "\e093";
}
#{$icon}-connection:before {
  content: "\e0b5";
}
#{$icon}-columns:before {
  content: "\e0ae";
}
#{$icon}-close-circle-o:before {
  content: "\e0b9";
}
#{$icon}-clock-add:before {
  content: "\e08e";
}
#{$icon}-add-circle-o:before {
  content: "\e0b7";
}
#{$icon}-app:before {
  content: "\e0af";
}
#{$icon}-build:before {
  content: "\e0b2";
}
#{$icon}-cart:before {
  content: "\e08b";
}
#{$icon}-check-circle-o:before {
  content: "\e0b8";
}
#{$icon}-bug:before {
  content: "\e089";
}
#{$icon}-cloud-off:before {
  content: "\e090";
}
#{$icon}-cloud:before {
  content: "\e08f";
}
#{$icon}-cloud-user:before {
  content: "\e091";
}
#{$icon}-virus:before {
  content: "\e0b3";
}
#{$icon}-check-bold:before {
  content: "\e08c";
}
#{$icon}-move:before {
  content: "\e09e";
}
#{$icon}-reply:before {
  content: "\e0a5";
}
#{$icon}-resize-nesw:before {
  content: "\e0a7";
}
#{$icon}-resize-nwse:before {
  content: "\e0a6";
}
#{$icon}-asterisk:before {
  content: "\e088";
}
#{$icon}-calendar-empty:before {
  content: "\e08a";
}
#{$icon}-crop:before {
  content: "\e092";
}
#{$icon}-face-happy-o:before {
  content: "\e095";
}
#{$icon}-face-neurtral-o:before {
  content: "\e096";
}
#{$icon}-face-sad-o:before {
  content: "\e097";
}
#{$icon}-face-smile-o:before {
  content: "\e098";
}
#{$icon}-shuffle:before {
  content: "\e0a9";
}
#{$icon}-slider:before {
  content: "\e0aa";
}
#{$icon}-treeview:before {
  content: "\e094";
}
#{$icon}-add-square-o:before {
  content: "\e003";
}
#{$icon}-minus-square-o:before {
  content: "\e04f";
}
#{$icon}-add:before {
  content: "\e000";
}
#{$icon}-minus:before {
  content: "\e04e";
}
#{$icon}-address:before {
  content: "\e002";
}
#{$icon}-alert:before {
  content: "\e004";
}
#{$icon}-bookmark:before {
  content: "\e00c";
}
#{$icon}-calendar:before {
  content: "\e00f";
}
#{$icon}-date:before {
  content: "\e021";
}
#{$icon}-clock:before {
  content: "\e017";
}
#{$icon}-deploy:before {
  content: "\e023";
}
#{$icon}-detail:before {
  content: "\e024";
}
#{$icon}-edit:before {
  content: "\e028";
}
#{$icon}-email:before {
  content: "\e029";
}
#{$icon}-email-o:before {
  content: "\e02b";
}
#{$icon}-email-arrow-o:before {
  content: "\e02a";
}
#{$icon}-folder:before {
  content: "\e033";
}
#{$icon}-folder-open:before {
  content: "\e038";
}
#{$icon}-folder-add:before {
  content: "\e034";
}
#{$icon}-folder-cloud:before {
  content: "\e036";
}
#{$icon}-folder-o:before {
  content: "\e037";
}
#{$icon}-folder-open-o:before {
  content: "\e039";
}
#{$icon}-folder-add-o:before {
  content: "\e035";
}
#{$icon}-map-marker:before {
  content: "\e04c";
}
#{$icon}-monitoring:before {
  content: "\e050";
}
#{$icon}-print:before {
  content: "\e05d";
}
#{$icon}-backup:before {
  content: "\e009";
}
#{$icon}-search-o:before {
  content: "\e063";
}
#{$icon}-settings:before {
  content: "\e064";
}
#{$icon}-spinner:before {
  content: "\e068";
}
#{$icon}-task:before {
  content: "\e06f";
}
#{$icon}-task-list-o:before {
  content: "\e073";
}
#{$icon}-task-add-o:before {
  content: "\e070";
}
#{$icon}-task-arrow-o:before {
  content: "\e071";
}
#{$icon}-task-close-o:before {
  content: "\e072";
}
#{$icon}-task-o:before {
  content: "\e074";
}
#{$icon}-manage:before {
  content: "\e04b";
}
#{$icon}-object-arrow-o:before {
  content: "\e053";
}
#{$icon}-object-close-o:before {
  content: "\e054";
}
#{$icon}-object-error-o:before {
  content: "\e055";
}
#{$icon}-partner-add-o:before {
  content: "\e056";
}
#{$icon}-partner-close-o:before {
  content: "\e057";
}
#{$icon}-partner-error-o:before {
  content: "\e058";
}
#{$icon}-partner-o:before {
  content: "\e059";
}
#{$icon}-add-group:before {
  content: "\e001";
}
#{$icon}-box-in:before {
  content: "\e00d";
}
#{$icon}-box-out:before {
  content: "\e00e";
}
#{$icon}-check:before {
  content: "\e010";
}
#{$icon}-check-s:before {
  content: "\e011";
}
#{$icon}-close-s:before {
  content: "\e019";
}
#{$icon}-close:before {
  content: "\e018";
}
#{$icon}-comment:before {
  content: "\e01b";
}
#{$icon}-contact:before {
  content: "\e020";
}
#{$icon}-globe-warning:before {
  content: "\e03b";
}
#{$icon}-globe:before {
  content: "\e03a";
}
#{$icon}-help-o:before {
  content: "\e03d";
}
#{$icon}-help:before {
  content: "\e03c";
}
#{$icon}-info-o:before {
  content: "\e03f";
}
#{$icon}-warning-triangle:before {
  content: "\e084";
}
#{$icon}-attach-alert:before {
  content: "\e006";
}
#{$icon}-attach-file:before {
  content: "\e007";
}
#{$icon}-attach-new:before {
  content: "\e008";
}
#{$icon}-attach:before {
  content: "\e005";
}
#{$icon}-delete:before {
  content: "\e022";
}
#{$icon}-key-add-o:before {
  content: "\e041";
}
#{$icon}-key-close-o:before {
  content: "\e042";
}
#{$icon}-key-down-o:before {
  content: "\e043";
}
#{$icon}-key-o:before {
  content: "\e044";
}
#{$icon}-key-reset-o:before {
  content: "\e045";
}
#{$icon}-key-up-o:before {
  content: "\e046";
}
#{$icon}-key:before {
  content: "\e040";
}
#{$icon}-location:before {
  content: "\e047";
}
#{$icon}-scan-o:before {
  content: "\e062";
}
#{$icon}-user-add-o:before {
  content: "\e078";
}
#{$icon}-user-add:before {
  content: "\e077";
}
#{$icon}-user-close-o:before {
  content: "\e07a";
}
#{$icon}-user-close:before {
  content: "\e079";
}
#{$icon}-user-export-o:before {
  content: "\e07b";
}
#{$icon}-user-group-close:before {
  content: "\e07c";
}
#{$icon}-user-group-warning:before {
  content: "\e07d";
}
#{$icon}-user-import-o:before {
  content: "\e07e";
}
#{$icon}-user-o:before {
  content: "\e07f";
}
#{$icon}-user-team:before {
  content: "\e080";
}
#{$icon}-user-unknow:before {
  content: "\e081";
}
#{$icon}-user:before {
  content: "\e076";
}
#{$icon}-wipe-close:before {
  content: "\e087";
}
#{$icon}-wipe:before {
  content: "\e086";
}
#{$icon}-blacklist:before {
  content: "\e00a";
}
#{$icon}-connect:before {
  content: "\e01c";
}
#{$icon}-connect-error:before {
  content: "\e01d";
}
#{$icon}-connect-noip:before {
  content: "\e01e";
}
#{$icon}-connect-warning:before {
  content: "\e01f";
}
#{$icon}-download:before {
  content: "\e027";
}
#{$icon}-export:before {
  content: "\e02c";
}
#{$icon}-external-link:before {
  content: "\e02d";
}
#{$icon}-filter:before {
  content: "\e02e";
}
#{$icon}-import:before {
  content: "\e03e";
}
#{$icon}-plan-add:before {
  content: "\e05a";
}
#{$icon}-plan-pending:before {
  content: "\e05b";
}
#{$icon}-plan-status:before {
  content: "\e05c";
}
#{$icon}-report:before {
  content: "\e05f";
}
#{$icon}-upload:before {
  content: "\e075";
}
#{$icon}-block:before {
  content: "\e00b";
}
#{$icon}-circle:before {
  content: "\e012";
}
#{$icon}-circle-dot:before {
  content: "\e013";
}
#{$icon}-circle-merge:before {
  content: "\e014";
}
#{$icon}-circle-o:before {
  content: "\e015";
}
#{$icon}-circle-split:before {
  content: "\e016";
}
#{$icon}-code:before {
  content: "\e01a";
}
#{$icon}-discover:before {
  content: "\e025";
}
#{$icon}-domain:before {
  content: "\e026";
}
#{$icon}-flag:before {
  content: "\e02f";
}
#{$icon}-flag-check:before {
  content: "\e030";
}
#{$icon}-flag-more:before {
  content: "\e031";
}
#{$icon}-flag-o:before {
  content: "\e032";
}
#{$icon}-lock:before {
  content: "\e048";
}
#{$icon}-lock-open:before {
  content: "\e049";
}
#{$icon}-log:before {
  content: "\e04a";
}
#{$icon}-menu:before {
  content: "\e04d";
}
#{$icon}-more:before {
  content: "\e051";
}
#{$icon}-more-horiz:before {
  content: "\e052";
}
#{$icon}-share:before {
  content: "\e065";
}
#{$icon}-share-o:before {
  content: "\e066";
}
#{$icon}-sphere:before {
  content: "\e067";
}
#{$icon}-star:before {
  content: "\e069";
}
#{$icon}-star-half:before {
  content: "\e06a";
}
#{$icon}-star-o:before {
  content: "\e06b";
}
#{$icon}-sync:before {
  content: "\e06c";
}
#{$icon}-tag:before {
  content: "\e06d";
}
#{$icon}-tag-add:before {
  content: "\e06e";
}
#{$icon}-view:before {
  content: "\e082";
}
#{$icon}-window-list:before {
  content: "\e085";
}
#{$icon}-device-an:before {
  content: "\e61b";
}
#{$icon}-device2:before {
  content: "\e61a";
}
#{$icon}-TV:before {
  content: "\e619";
}
#{$icon}-desktop:before {
  content: "\e600";
}
#{$icon}-desktop-add:before {
  content: "\e601";
}
#{$icon}-desktop-block:before {
  content: "\e602";
}
#{$icon}-desktop-cloud:before {
  content: "\e603";
}
#{$icon}-desktop-cloud-down:before {
  content: "\e604";
}
#{$icon}-desktop-down:before {
  content: "\e605";
}
#{$icon}-desktop-error:before {
  content: "\e606";
}
#{$icon}-desktop-group:before {
  content: "\e607";
}
#{$icon}-desktop-group-cloud:before {
  content: "\e608";
}
#{$icon}-desktop-hourglass:before {
  content: "\e609";
}
#{$icon}-desktop-update:before {
  content: "\e60a";
}
#{$icon}-laptop:before {
  content: "\e60d";
}
#{$icon}-laptop-group:before {
  content: "\e60e";
}
#{$icon}-mobile:before {
  content: "\e60f";
}
#{$icon}-mobile-group:before {
  content: "\e610";
}
#{$icon}-server-add:before {
  content: "\e612";
}
#{$icon}-server-on:before {
  content: "\e616";
}
#{$icon}-server-cloud:before {
  content: "\e613";
}
#{$icon}-server-group:before {
  content: "\e614";
}
#{$icon}-server-off:before {
  content: "\e615";
}
#{$icon}-server-update:before {
  content: "\e617";
}
#{$icon}-server-warning:before {
  content: "\e618";
}
#{$icon}-server:before {
  content: "\e611";
}
#{$icon}-device:before {
  content: "\e60b";
}
#{$icon}-device-master:before {
  content: "\e60c";
}
#{$icon}-file-audio-o:before {
  content: "\eb10";
}
#{$icon}-file-video-o:before {
  content: "\eb11";
}
#{$icon}-file-ppt-o:before {
  content: "\eb0f";
}
#{$icon}-file:before {
  content: "\eb00";
}
#{$icon}-file-add-o:before {
  content: "\eb01";
}
#{$icon}-file-arrow-o:before {
  content: "\eb02";
}
#{$icon}-file-close-o:before {
  content: "\eb03";
}
#{$icon}-file-code-o:before {
  content: "\eb04";
}
#{$icon}-file-copy-o:before {
  content: "\eb05";
}
#{$icon}-file-excel-o:before {
  content: "\eb06";
}
#{$icon}-file-image-o:before {
  content: "\eb07";
}
#{$icon}-file-o:before {
  content: "\eb08";
}
#{$icon}-file-pdf-o:before {
  content: "\eb09";
}
#{$icon}-file-source-o:before {
  content: "\eb0a";
}
#{$icon}-file-text:before {
  content: "\eb0b";
}
#{$icon}-file-text-o:before {
  content: "\eb0c";
}
#{$icon}-file-word-o:before {
  content: "\eb0d";
}
#{$icon}-file-zip-o:before {
  content: "\eb0e";
}
#{$icon}-link:before {
  content: "\ea11";
}
#{$icon}-link-break:before {
  content: "\ea12";
}
#{$icon}-rename:before {
  content: "\ea13";
}
#{$icon}-align-center:before {
  content: "\ea00";
}
#{$icon}-align-left:before {
  content: "\ea01";
}
#{$icon}-align-right:before {
  content: "\ea02";
}
#{$icon}-bold:before {
  content: "\ea03";
}
#{$icon}-colortext:before {
  content: "\ea04";
}
#{$icon}-cut:before {
  content: "\ea05";
}
#{$icon}-fontsize:before {
  content: "\ea06";
}
#{$icon}-indent:before {
  content: "\ea07";
}
#{$icon}-italic:before {
  content: "\ea08";
}
#{$icon}-list-ol:before {
  content: "\ea09";
}
#{$icon}-list-ul:before {
  content: "\ea0a";
}
#{$icon}-outdent:before {
  content: "\ea0b";
}
#{$icon}-paste:before {
  content: "\ea0c";
}
#{$icon}-redo:before {
  content: "\ea0d";
}
#{$icon}-strikethrough:before {
  content: "\ea0e";
}
#{$icon}-underline:before {
  content: "\ea0f";
}
#{$icon}-undo:before {
  content: "\ea10";
}
#{$icon}-arrows:before {
  content: "\e91b";
}
#{$icon}-angle-down:before {
  content: "\e919";
}
#{$icon}-angle-up:before {
  content: "\e91a";
}
#{$icon}-angle-left:before {
  content: "\e900";
}
#{$icon}-angle-right:before {
  content: "\e901";
}
#{$icon}-arrow-down:before {
  content: "\e902";
}
#{$icon}-arrow-left:before {
  content: "\e903";
}
#{$icon}-arrow-long-left:before {
  content: "\e904";
}
#{$icon}-arrow-long-right:before {
  content: "\e905";
}
#{$icon}-arrow-right:before {
  content: "\e906";
}
#{$icon}-arrow-up:before {
  content: "\e907";
}
#{$icon}-caret-square-down:before {
  content: "\e90c";
}
#{$icon}-caret-square-left:before {
  content: "\e90d";
}
#{$icon}-caret-square-right:before {
  content: "\e90e";
}
#{$icon}-caret-square-up:before {
  content: "\e90f";
}
#{$icon}-caret-down:before {
  content: "\e908";
}
#{$icon}-caret-left:before {
  content: "\e909";
}
#{$icon}-caret-right:before {
  content: "\e90a";
}
#{$icon}-caret-right-down:before {
  content: "\e910";
}
#{$icon}-caret-right-o:before {
  content: "\e90b";
}
#{$icon}-caret-up:before {
  content: "\e911";
}
#{$icon}-chevron-down:before {
  content: "\e912";
}
#{$icon}-chevron-left:before {
  content: "\e913";
}
#{$icon}-chevron-right:before {
  content: "\e914";
}
#{$icon}-chevron-up:before {
  content: "\e915";
}
#{$icon}-exchange:before {
  content: "\e916";
}
#{$icon}-sort-up:before {
  content: "\e918";
}
#{$icon}-sort-down:before {
  content: "\e917";
}
#{$icon}-map:before {
  content: "\e805";
}
#{$icon}-chart-area:before {
  content: "\e800";
}
#{$icon}-chart-bar:before {
  content: "\e801";
}
#{$icon}-chart-line:before {
  content: "\e802";
}
#{$icon}-chart-pie:before {
  content: "\e803";
}
#{$icon}-chart-table:before {
  content: "\e804";
}
#{$icon}-error:before {
  content: "\ec00";
}
#{$icon}-info:before {
  content: "\ec01";
}
#{$icon}-low:before {
  content: "\ec02";
}
#{$icon}-success:before {
  content: "\ec03";
}
#{$icon}-unknow:before {
  content: "\ec05";
}
#{$icon}-unavailable:before {
  content: "\ec04";
}
#{$icon}-warning-circle:before {
  content: "\ec06";
}
#{$icon}-android:before {
  content: "\ed01";
}
#{$icon}-apple:before {
  content: "\ed02";
}
#{$icon}-edge:before {
  content: "\ed03";
}
#{$icon}-google:before {
  content: "\ed04";
}
#{$icon}-ie:before {
  content: "\ed05";
}
#{$icon}-window8:before {
  content: "\ed06";
}
#{$icon}-t-ball:before {
  content: "\ed00";
}
