//== Colors

//** Brand colors
$color-brand-primary: #0096cc;
$color-brand-success: #00a94f;
$color-brand-warning:#ff7633;
$color-brand-danger: #db3d44;

//** Text colors
$text-color-1st: #222;
$text-color-2nd: #666;
$text-color-3rd: #888;
$text-color: $text-color-1st;

//** Background colors
$bg-color-1st: #fff;
$bg-color-2nd: #f8f8f8;
$bg-color-3rd: #eee;
$bg-color: $bg-color-1st;

//** Border colors
$border-color-1st: #e6e6e6;
$border-color-2nd: #ddd;
$border-color-3rd: #ccc;