
$caret: '.#{$prefix}-caret';
$button: '.#{$prefix}-btn';
$icon: '.#{$prefix}-icon';
$loader: '.#{$prefix}-loader';
$menu: '.#{$prefix}-menu';
$submenu: '.#{$prefix}-submenu';
$dropdown: '.#{$prefix}-dropdown';
$navbar: '.#{$prefix}-navbar';
$nav: '.#{$prefix}-nav';