
$brand-primary: #0096cc;
$brand-danger: #db3d44;

$bg-1st: #fff;
$bg-2nd: #f8f8f8;
$bg-3rd: #eee;
$bg: $bg-1st;

$border-1st: #e6e6e6;
$border-2nd: #ddd;
$border-3rd: #ccc;

$color-1st: #222;
$color-2nd: #666;
$color: $color-1st;