<div #container class="scrollable" style="height: 300px;">
  <div style="height: 400px;">
    <app-header title="NGX-MINI"></app-header>
    <nz-affix [nzTarget]="container">
      <div example>
        <nm-navbar>
          <a class="nm-navbar-logo" href="#">
            <span class="icon-tball-white"></span>
          </a>
          <ul class="nm-nav nm-navbar-nav">
            <li><a href="#">Menu 1</a></li>
            <li class="active"><a href="#">Menu 2</a></li>
            <li class="disabled"><a href="#">Menu 3</a></li>
            <li nm-dropdown trigger="hover">
              <a href="#" nm-dropdown-toggle>
                <i class="nm-icon nm-icon-caret-down"></i>
                Menu 4
              </a>
              <ul nm-menu>
                <li nm-menu-item [active]="true">Menu item 1</li>
                <li nm-submenu>
                  Menu item 2
                  <ul nm-menu>
                    <li nm-menu-item>Second level item 1</li>
                    <li nm-menu-item>Second level item 2</li>
                    <li nm-menu-item>Second level item 3</li>
                  </ul>
                </li>
                <li nm-submenu [disabled]="true">
                  Menu item 3
                  <ul nm-menu>
                    <li nm-menu-item>Second level item 1</li>
                    <li nm-menu-item>Second level item 2</li>
                    <li nm-menu-item>Second level item 3</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li nm-dropdown trigger="hover" [disabled]="true">
              <a href="#" nm-dropdown-toggle>
                <i class="nm-icon nm-icon-caret-down"></i>
                Menu 5
              </a>
              <ul nm-menu>
                <li nm-menu-item>Menu item 1</li>
                <li nm-menu-item>Menu item 2</li>
                <li nm-menu-item>Menu item 2</li>
              </ul>
            </li>
          </ul>
        </nm-navbar>
      </div>
    </nz-affix>
  </div>
</div>
