<div #container class="scrollable" style="height: 300px;">
  <div style="height: 400px;">
    <app-header title="NGX-MINI"></app-header>
    <nz-affix [nzTarget]="container">
      <div class="example">
        <mini-navbar>
          <a nm-navbar-brand href="#">
            <span class="icon-tball-white"></span>
          </a>
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li nm-dropdown trigger="hover">
              <a href="#" nm-dropdown-toggle>Group 1</a>
              <ul nm-menu>
                <li nm-menu-item>Menu item one</li>
                <li nm-menu-item>
                  Menu item two
                  <ul class="dropdown-menu">
                    <li><a href="#">Second level item one</a></li>
                    <li><a href="#">Second level item two</a></li>
                    <li><a href="#">Second level item three</a></li>
                  </ul>
                </li>
                <li nm-menu-item>Menu item three</li>
              </ul>
            </li>
          </ul>
        </mini-navbar>
      </div>
    </nz-affix>
  </div>
</div>
