//# Dropdown

#{$dropdown} {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#{$dropdown} {
  #{$icon}-caret-down,
  #{$icon}-caret-up {
    float: right;
    margin-left: 2px;
  }

  #{$icon}:not([class*="-caret-"]) {
    @extend %gap-right-md;
  }
}

#{$button}-primary,
#{$button}-emphasis {
  #{$icon}-caret-down,
  #{$icon}-caret-up {
    color: #fff;
  }
}

//## Dropdown Toggle

#{$button}#{$dropdown}-toggle {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

#{$dropdown}-open #{$dropdown}-toggle {
  @each $surface in (default, primary, secondary, emphasis, link) {
    &#{$button}-#{$surface} {
      @extend #{$button}-#{$surface}.active;
    }
  }
}

#{$dropdown}-toggle#{$button}-link {
  color: #222222;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;

  @include hover {
    &,
    #{$icon} {
      color: #0096cc;
    }
  }
}

//## Within Button Pane

#{$button}-pane {
  &-left > #{$dropdown} {
    @extend %gap-right-md;
  }

  &-right > #{$dropdown} {
    @extend %gap-left-md;
  }

  &-multiline > #{$dropdown} {
    @extend %gap-bottom-md;
  }
}

//## Contains Menu

#{$dropdown}-open > #{$menu},
#{$submenu}-open > #{$menu} {
  display: block;
}

//## Submenu

#{$submenu} {
  position: relative;

  > #{$dropdown}-toggle:before {
    @extend %icon;
    content: "\e90a";
    float: right;
    margin-right: -20px;
  }

  &.disabled > #{$dropdown}-toggle:before {
    color: #aaa;
  }

  > #{$menu} {
    top: 0;
    left: 100%;
  }
}

///////////////////////////////////////////

.dropup {
  position: relative;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  /*color: @dropdown-link-active-color;*/
  text-decoration: none;
  outline: 0;
  /*background-color: @dropdown-link-active-bg;*/
}
.dropdown-menu .badge {
  float: right;
  margin-left: 24px;
  margin-top: 1px;
}

.dropdown-toggle.btn-icon-only {
  text-align: center;
}