@keyframes #{$navbar}-brand-right {
  from {
    margin-left: -73px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes #{$navbar}-brand-left {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -73px;
  }
}

.navbar {
  position: relative;
  height: 40px;
  border: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-nav > li > a .caret {
  float: none;
  vertical-align: top;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  padding: 16px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.navbar-nav > li > .dropdown-menu > li + li {
  margin-top: 4px;
}
.navbar-nav > li > .dropdown-menu > li > a {
  padding: 4px 24px;
}
.navbar-nav > li > .dropdown-menu > .active > a,
.navbar-nav > li > .dropdown-menu > .active > a:hover,
.navbar-nav > li > .dropdown-menu > .active > a:focus {
  color: #db3d44;
  font-weight: bold;
  cursor: default;
  background-color: transparent;
}

.navbar-default {
  background-color: #db3d44;
  border-color: #db3d44;
}
.navbar-default .navbar-nav > li {
  border-right: 1px solid #c22327;
}
.navbar-default .navbar-nav > li:hover > .dropdown-menu,
.navbar-default .navbar-nav > li.open > .dropdown-menu {
  display: block;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #e15054;
}
.navbar-default .navbar-nav > li > a .caret {
  border-top-color: #ffffff;
  float: none;
  vertical-align: top;
}
.navbar-default .navbar-nav > li:hover > a {
  color: #ffffff;
  background-color: #e15054;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active:hover > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active:hover > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active:hover > a:focus {
  color: #ffffff;
  background-color: #c22327;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 24px;
  text-decoration: none;
  line-height: 20px;
}
.nav > li > a:hover {
  background-color: #f4f4f4;
}
.nav > li > a:focus,
.nav > li > a:active {
  background-color: #eeeeee;
}
.nav > li > a .caret {
  margin-left: 4px;
}

#{$navbar}-brand {
  border-right: 1px solid #c22327;
  float: left;
  padding: 8px 24px;
  animation-duration: 200ms;
  animation-name: #{$navbar}-brand-left;
  animation-fill-mode: forwards;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  .ant-affix & {
    animation-duration: 550ms;
    animation-name: #{$navbar}-brand-right;
    animation-fill-mode: forwards;
  }
}